* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
}

a {
    color: #65c0ba;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.site-logo a {
    position: relative;
    width:fit-content;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    font-family: "Abril Fatface", times, serif;
}

.menu-icon {
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon div {
    width: 100%;
    height: 2px;
    background-color: white;
}

.site-hero {
    background-image: url('hero_1.jpg');
    background-size: 100%;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.site-hero::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.Wordinmid {
    position: relative;
}

.heading {
    font-family: "Abril Fatface", times, serif;
    color: #FFFFFF;
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem !important;
}

.sub-heading {
    font-family: "Mukta Mahee", arial, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 1.5rem !important;
}

.linkinword {
    color: gray;
    font-size: 25px;
    border-bottom: gray;
    text-decoration: underline;
    font-weight: bold;
}

.btninword {
    font-family: "Mukta Mahee", arial, sans-serif;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;    
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.btninword:hover {
    background-color: #fff;
    color: #000;
}

.scrollDown {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;
}

.btn-scroll {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

.btn-scroll .arrow {
    display: block;
    font-size: 15px;
}






/* SECTION 2 */


.site-hero2 {
    padding: 7em 0;
}
.contain {
    max-width: 1100px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
}

.site-hero2-container {
    align-items: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.image1-container {
    margin-bottom: 1.5rem !important;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.text1-container {
    padding-left: 3rem !important;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
}

.image1 {
    width: 100%;
    height: auto;
}

.text1-container {
    padding-left: 20px;
    text-align: left;
}

.text1-container .head {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1.5rem !important;
    text-align: left;
}

.text1-container .body1, .text1-container .body2 {
    color: #6c757d;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    background: #fff;
    text-align: left;
}

.video1-link {
    display: flex;
    align-items: center;
    margin: 20px;
}

.btn-play {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.video-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fa-play {
    color: #65c0ba;
    font-size: 16px;
    position: relative;
    left: 2px;
}

.video-link-text {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    color: #65c0ba;
}



/* SECTION 3 */

.site-hero3 {
    display: flex;
    justify-content: center;
    align-items: center !important;
    color:  #fff;
    text-align: center;
    position: relative;
    border-top: 1px solid #e0e0e0;
    background-color: #fafafa;
}

.site-hero3-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center !important;

}

.site-hero3-text {
    text-align: center !important;
    margin-bottom: 3rem !important;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex: 0 0 75%;
    max-width: 750%;

}

.site-hero3-text > h2 {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.site-hero3-text > p {
    color: #6c757d;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 1rem;
}

.site-hero3-divs {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.site-hero3-smallDiv {
    margin-bottom: 1.5rem !important;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
    text-align: center;
    display: block !important;
}

.site-hero3-divs  img {
    width: 70px;
    margin-bottom: 1.5rem !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    text-align: center;
}

.site-hero3-divs  h3 {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
}

.site-hero3-divs  p {
    color: #6c757d;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 1rem;
}




/* SECTION 4 */

.site-hero4 {
    padding: 7em 0;
}

.site-hero4-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center !important;

}

.site-hero4-text {
    text-align: center !important;
    margin-bottom: 3rem !important;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex: 0 0 75%;
    max-width: 600%;

}

.site-hero4-text > h2 {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
}

.site-hero4-text > p {
    color: #6c757d;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 1rem;
}

.slider-cont {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    flex: 0 0 100%;
    max-width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
}

.dots {
    text-align: center;
    padding: 16px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}




/* SECTION 5 */

.site-hero5 {
    display: flex;
    justify-content: center;
    align-items: center !important;
    color:  #fff;
    height: 100vh;
    background-color: #65c0ba;
    text-align: center;
    position: relative;
    border-top: 1px solid #e0e0e0;
}

.site-hero5-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center !important;

}

.site-hero5-text {
    text-align: center !important;
    margin-bottom: 3rem !important;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex: 0 0 55%;

}

.site-hero5-text > h2 {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
}

.site-hero5-text > h2::selection {
    background: transparent;
    color: #fff;

}

.site-hero5-text > p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 1rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    width: 100%;
    align-content: space-between;
    justify-content: center;
}

.card {
    flex: 28;
    max-width: 50%;
    position: relative;
    min-height: 1px;
    background: #fff;
    margin-bottom: 1.5rem !important;
    display: block !important;
    box-sizing: border-box;
    height: 550px;
    margin: 20px;
    
}

.card > a {
    max-width: 100%;
    color: #000;
    margin-bottom: 1.5rem !important;
    display: block !important;
    text-decoration: none;
    box-sizing: border-box;
}

.card img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.media span {
    color: #ced4da;
    text-transform: uppercase;
    letter-spacing: .1em;
    box-sizing: border-box;
    text-align: left;
}

.media h2 {
    color: #000;
    font-size: 26px;
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
    color: #000;
    font-family: "Abril Fatface", times, serif;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
}
.media {
    padding: 10px 30px;
    text-align: left;

}

.media a {
    text-align: left;
    color: #000;
    font-size: 35px;
    background-color: transparent;
    text-decoration: none;

}

.media p {
    color: #6c757d;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.media a:hover{
    color: #65c0ba;
}