* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    color: #6c757d;
}

a {
    color: #65c0ba;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.site-logo a {
    position: relative;
    width:fit-content;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    font-family: "Abril Fatface", times, serif;
}

.menu-icon {
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon div {
    width: 100%;
    height: 2px;
    background-color: white;
}

.site-hero {
    background-image: url('hero_1.jpg');
    background-size: 100%;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.site-hero::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.Wordinmid {
    position: relative;
}

.heading {
    font-family: "Abril Fatface", times, serif;
    color: #FFFFFF;
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem !important;
}

.sub-heading {
    font-family: "Mukta Mahee", arial, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 1.5rem !important;
}

.linkinword {
    color: gray;
    font-size: 25px;
    border-bottom: gray;
    text-decoration: underline;
    font-weight: bold;
}

.btninword {
    font-family: "Mukta Mahee", arial, sans-serif;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;    
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

.btninword:hover {
    background-color: #fff;
    color: #000;
}

.scrollDown {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;
}

.btn-scroll {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

.btn-scroll .arrow {
    display: block;
    font-size: 15px;
}

.site-hero2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    color: #fff;
    text-align: center;
    position: relative;

}

.site-hero2-container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center !important;

}

.image1-container {
    flex: 0 0 50%;
    max-width: 50%;
    flex: 1;
}

.image1 {
    width: 450px;
}

.text1-container {
    flex: 0 0 50%;
    max-width: 50%;
    flex: 1;
    padding-left: 50px;
}

.text1-container .head {
    color: #000;
    font-family: "Abril Fatface", times, serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1.5rem !important;
    text-align: left;
}

.text1-container .body1, .text1-container .body2 {
    color: #6c757d;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    background: #fff;
    text-align: left;
}

.video1-link {
    display: flex;
    align-items: center;
    margin: 20px;
}

.btn-play {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.video-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fa-play {
    color: #65c0ba;
    font-size: 16px;
    position: relative;
    left: 2px;
}

.video-link-text {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    color: #65c0ba;
}











/* 




.section {
    padding: 7em 0;
    display: block;
}

.container {
    max-width: 960px;
}





















.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: #fff;
}

.section:nth-child(even) {
    background-color: #FFF;
}

.section:nth-child(odd) {
    background-color: #FFF;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: #65c0ba;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */